<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Neon Admin Panel"/>
    <meta name="author" content="Laborator.co"/>
    <link rel="icon" href="{{ asset('') }}assets/images/favicon.ico">
    <title>Assets | {% block title %}APP{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('content/') }}assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css" id="style-resource-1">
    <link rel="stylesheet" href="{{ asset('content/') }}assets/css/font-icons/entypo/css/entypo.css" id="style-resource-2">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic" id="style-resource-3">


    <link rel="stylesheet" href="{{ asset('content/') }}assets/css/font-icons/font-awesome/css/font-awesome.min.css" id="style-resource-4">
    <link rel="stylesheet" href="{{ asset('content/') }}assets/css/bootstrap.css" id="style-resource-4">
    <link rel="stylesheet" href="{{ asset('content/') }}assets/css/neon-core.css" id="style-resource-5">
    <link rel="stylesheet" href="{{ asset('content/') }}assets/css/neon-theme.css" id="style-resource-6">
    <link rel="stylesheet" href="{{ asset('content/') }}assets/css/neon-forms.css" id="style-resource-7">
    <link rel="stylesheet" href="{{ asset('content/') }}assets/css/custom.css" id="style-resource-8">
    <link rel="stylesheet" href="{{ asset('content/') }}assets/css/skins/purple.css" id="style-resource-8">

    <script src="{{ asset('content/') }}assets/js/jquery-1.11.3.min.js"></script>
    <script src="https://demo.neontheme.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->



<body class="page-body page-fade" data-url="https://demo.neontheme.com">
<div class="page-container">
    <div class="sidebar-menu">
        <div class="sidebar-menu-inner">
            <header class="logo-env"> <!-- logo -->
                <div class="logo"><a href="" style="font-size: 22px;"> Asset APP </a></div> <!-- logo collapse icon -->
                <div class="sidebar-collapse"><a href="#" class="sidebar-collapse-icon">
                        <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                        <i class="entypo-menu"></i> </a></div>
                <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                <div class="sidebar-mobile-menu visible-xs"><a href="#" class="with-animation">
                        <!-- add class "with-animation" to support animation --> <i class="entypo-menu"></i> </a></div>
            </header>

            <ul id="main-menu" class="main-menu">
                <li><a href="{{ path('admin_dashboard') }}"><i class="entypo-gauge"></i><span
                                class="title">Dashboard</span></a>
                </li>

                <li class="has-sub"><a href=""><i class="entypo-layout"></i><span class="title">Accounts</span></a>
                    <ul>
                        <li><a href="{{ path('account_index') }}"><span class="title">Show Accounts</span></a></li>
                        <li><a href="{{ path('account_new') }}"><span class="title">Add an account</span></a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href=""><i class="entypo-list-add"></i><span class="title">Deposits</span></a>
                    <ul>
                        <li><a href="{{ path('deposit_index') }}"><span class="title">Display Deposits</span></a></li>
                        <li><a href="{{ path('deposit_new') }}"><span class="title">Add deposit</span></a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href=""><i class="entypo-minus"></i><span class="title">Witdhraw</span></a>
                    <ul>
                        <li><a href="{{ path('withdraw_index') }}"><span class="title">Display Withdraws</span></a></li>
                        <li><a href="{{ path('withdraw_new') }}"><span class="title">Add Withdraw</span></a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href=""><i class="entypo-users"></i><span class="title">Partners</span></a>
                    <ul>
                        <li><a href="{{ path('partner_index') }}"><span class="title">Display Partners</span></a></li>
                        <li><a href="{{ path('partner_new') }}"><span class="title">Add Partner</span></a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href=""><i class="entypo-user-add"></i><span class="title">Users</span></a>
                    <ul>
                        <li><a href="{{ path('user_index') }}"><span class="title">Display Users</span></a></li>
                        <li><a href="{{ path('user_new') }}"><span class="title">Add User</span></a></li>
                    </ul>
                </li>

                <li class="{% block users_active %}{% endblock %}"><a href="{{ path('app_logout') }}"><i class="entypo-logout"></i><span class="title">Déconnexion</span></a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <!-- TS15383785128609: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates -->
        <div class="row"> <!-- Profile Info and Notifications -->
            <div class="col-md-6 col-sm-8 clearfix">
                <a href="#" target="_blank">
                </a>
            </div> <!-- Raw Links -->
            <div class="col-md-6 col-sm-4 clearfix hidden-xs">
                <ul class="list-inline links-list pull-right">
                    <li><a href="{{ path('app_logout') }}">
                            Log out
                            <i class="entypo-logout right"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
        <br/>
        {% block body %}
        {% endblock %}


        <!-- Footer -->
        <footer class="main">

            &copy; 2021 <strong>Asset </strong> App</footer>
    </div>

</div>
<!-- Sample Modal (Default skin) -->



<link rel="stylesheet" href="{{ asset('content/') }}assets/js/datatables/datatables.css" id="style-resource-1">

<link rel="stylesheet" href="{{ asset('content/') }}assets/js/select2/select2-bootstrap.css" id="style-resource-2">
<link rel="stylesheet" href="{{ asset('content/') }}assets/js/select2/select2.css" id="style-resource-3">
<link rel="stylesheet" href="{{ asset('content/') }}assets/js/jvectormap/jquery-jvectormap-1.2.2.css" id="style-resource-1">
<link rel="stylesheet" href="{{ asset('content/') }}assets/js/rickshaw/rickshaw.min.css" id="style-resource-2">
<script src="{{ asset('content/') }}assets/js/gsap/TweenMax.min.js" id="script-resource-1"></script>
<script src="{{ asset('content/') }}assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js" id="script-resource-2"></script>
<script src="{{ asset('content/') }}assets/js/bootstrap.js" id="script-resource-3"></script>
<script src="{{ asset('content/') }}assets/js/joinable.js" id="script-resource-4"></script>
<script src="{{ asset('content/') }}assets/js/resizeable.js" id="script-resource-5"></script>
<script src="{{ asset('content/') }}assets/js/neon-api.js" id="script-resource-6"></script>
<script src="{{ asset('content/') }}assets/js/cookies.min.js" id="script-resource-7"></script>
<script src="{{ asset('content/') }}assets/js/bootstrap-switch.min.js" id="script-resource-8"></script>
<script src="{{ asset('content/') }}assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js" id="script-resource-8"></script>
<script src="{{ asset('content/') }}assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js" id="script-resource-9"></script>
<script src="{{ asset('content/') }}assets/js/jquery.sparkline.min.js" id="script-resource-10"></script>
<script src="{{ asset('content/') }}assets/js/rickshaw/vendor/d3.v3.js" id="script-resource-11"></script>
<script src="{{ asset('content/') }}assets/js/rickshaw/rickshaw.min.js" id="script-resource-12"></script>
<script src="{{ asset('content/') }}assets/js/raphael-min.js" id="script-resource-13"></script>
<script src="{{ asset('content/') }}assets/js/morris.min.js" id="script-resource-14"></script>
<script src="{{ asset('content/') }}assets/js/toastr.js" id="script-resource-15"></script>
<script src="{{ asset('content/') }}assets/js/neon-chat.js" id="script-resource-16"></script>

<script src="{{ asset('content/') }}assets/js/datatables/datatables.js" id="script-resource-8"></script>
<script src="{{ asset('content/') }}assets/js/select2/select2.min.js" id="script-resource-9"></script>
<!-- JavaScripts initializations and stuff -->
<script src="{{ asset('content/') }}assets/js/neon-custom.js" id="script-resource-17"></script> <!-- Demo Settings -->
<script src="{{ asset('content/') }}assets/js/neon-demo.js" id="script-resource-18"></script>
<script src="{{ asset('content/') }}assets/js/neon-skins.js" id="script-resource-19"></script>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28991003-7']);
    _gaq.push(['_setDomainName', 'demo.neontheme.com']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>